@use 'utils';

.book {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        width: 100%;
        max-width: 15rem;
        height: 15rem;
        margin-bottom: 0.5rem;
        background-color: #fff;
        padding: 0.3rem;
        border-radius: 1rem;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 1.4rem;
        font-weight: 800;
        margin-bottom: 0.4em;
    }

    &__author {
        margin-bottom: 0.7rem;
        font-weight: 800;
    }

    &__tags {
        margin-bottom: 0.7rem;

        &:empty {
            margin-bottom: 0;
        }
    }

    &__tag {
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 800;
        background-color: var(--text-color);
        color: var(--bg-color);
        padding: 0.4em;
        border-radius: 0.2em;
        line-height: 1;
    }

    &__direct-link {
        font-weight: 800;
    }

    &__links {
        list-style: none;
        padding: 0;
    }

    &__link {
        display: block;

        a {
            color: inherit;
            text-decoration: none;
            line-height: 2em;

            &:visited {
                color: inherit;
            }
        }

        img {
            vertical-align: middle;
            height: 0.7em;
        }
    }

    &__link-text {
        text-decoration: underline;
    }
}

.books {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    padding: 0;

    @media screen and (min-width: utils.$bp-s) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: utils.$bp-m) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: utils.$bp-l) {
        grid-template-columns: repeat(4, 1fr);
    }

    // &[data-show-market] {
    //     .book__link-zon {
    //         display: none;
    //     }
    // }

    // @each $market in utils.$markets {
    //     &[data-show-market="#{$market}"] {
    //         .book__link-zon[data-market="#{$market}"] {
    //             display: block;
    //         }
    //     }
    // }

    // &[data-filter-by-wide] {
    //     .book:not([data-wide]) {
    //         display: none;
    //     }
    // }

    // &[data-filter-by-direct] {
    //     .book:not([data-direct]) {
    //         display: none;
    //     }
    // }

    // &[data-filter-by-intl] {
    //     .book:not([data-intl]) {
    //         display: none;
    //     }
    // }
}