@use 'utils';

.filters {
    margin-bottom: 2rem;
    border: 2px var(--text-color) solid;
    padding: 0 1rem 1rem;

    h2 {
        font-size: 1.2rem;
        margin: -1.5em auto 0;
        background-color: var(--bg-color);
        width: fit-content;
        padding: 0.5em;
    }

    &__checkboxes {
        border: none;
        padding: 0;
    }

    &__checkbox {
        display: inline-block;
        margin: 0 0.5em 0.5em;
    }
}

.marketplace-select {
    display: block;
    margin-bottom: 1rem;

    &__label {
        font-weight: 800;
    }
}