@use 'utils';

.filter-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0 0 1rem;
    color: inherit;

    &__text {
        margin: 0;
        font-size: 1.2rem;
    }
}

.filters {
    margin-bottom: 2rem;
    padding: 0 1rem 1rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.search,
.availability {
    display: block;
    border: none;
    margin: 0 0 1rem;

    &__label {
        display: block;
        font-weight: 800;
        margin-bottom: 0.5em;
    }

    &__amazon {
        display: block;
        margin-bottom: 0.5em;
    }
}

.amazon-select {
    &__select {
        margin-bottom: 0.3em;
    }
}

.checkbox {
    display: inline-block;
    margin: 0 0.5em 0.5em;
}
