@use 'utils';

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: utils.$font-main;
    line-height: 1.4;
}

.container {
    max-width: 1400px;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: var(--bg-color);
    border: 2px var(--text-color) solid;
    height: 3em;
    width: 3em;
    padding: 0;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;

    &:focus-visible {
        outline: 2px var(--text-color) solid;
    }
}

// Header & Footer

h1 {
    text-align: center;
    margin: 1em 0;
    font-size: 3rem;
}

footer {
    font-size: 0.7rem;

    a,
    a:visited {
        color: inherit;
        text-decoration: underline;
    }
}