$bp-l: 1300px;
$bp-m: 1024px;
$bp-s: 768px;

$markets: "us", "gb", "de", "fr", "es", "it", "nl", "jp", "br", "ca", "mx", "au", "in";

$font-main: 'Raleway', sans-serif;

:root {
	--bg-color: #fff;
	--text-color: #333;

	@media (prefers-color-scheme: dark) {
		--bg-color: #333;
		--text-color: #fff;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}