@use 'normalize';
@use 'variables';

// Utility
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

// Base
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 1400px;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 1em 0;
    font-size: 3rem;
}

.filters {
    margin-bottom: 2rem;
    border: 2px var(--text-color) solid;
    padding: 0 1rem 1rem;

    h2 {
        font-size: 1.2rem;
        margin: -1.5em auto 0;
        background-color: var(--bg-color);
        width: fit-content;
        padding: 0.5em;
    }

    &__checkboxes {
        border: none;
        padding: 0;
    }

    &__checkbox {
        display: inline-block;
        margin: 0 0.5em 0.5em;
    }
}

.marketplace-select {
    display: block;
    margin-bottom: 1rem;

    &__label {
        font-weight: 800;
    }
}

.back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: var(--bg-color);
    border: 2px var(--text-color) solid;
    height: 3em;
    width: 3em;
    padding: 0;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;

    &:focus-visible {
        outline: 2px var(--text-color) solid;
    }
}

// Books
.book {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        width: 100%;
        max-width: 15rem;
        height: 15rem;
        margin-bottom: 0.5rem;
        background-color: #fff;
        padding: 0.3rem;
        border-radius: 1rem;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 1.4rem;
        font-weight: 800;
        margin-bottom: 0.4em;
    }

    &__author {
        margin-bottom: 0.7rem;
        font-weight: 800;
    }

    &__tags {
        margin-bottom: 0.7rem;

        &:empty {
            margin-bottom: 0;
        }
    }

    &__tag {
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 800;
        background-color: var(--text-color);
        color: var(--bg-color);
        padding: 0.4em;
        border-radius: 0.2em;
        line-height: 1;
    }

    &__direct-link {
        font-weight: 800;
    }

    &__links {
        list-style: none;
        padding: 0;
    }

    &__link {
        display: block;

        a {
            color: inherit;
            text-decoration: none;
            line-height: 2em;

            &:visited {
                color: inherit;
            }
        }

        img {
            vertical-align: middle;
            height: 0.7em;
        }
    }

    &__link-text {
        text-decoration: underline;
    }
}

.books {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    padding: 0;

    @media screen and (min-width: variables.$bp-s) {
        grid-template-columns: repeat(2, 1fr);
    }

        @media screen and (min-width: variables.$bp-m) {
        grid-template-columns: repeat(3, 1fr);
    }

        @media screen and (min-width: variables.$bp-l) {
        grid-template-columns: repeat(4, 1fr);
    }

    &[data-show-market] {
        .book__link {
            display: none;
        }

        .book__direct-link {
            display: block;
        }
    }

    @each $market in variables.$markets {
        &[data-show-market="#{$market}"] {
            .book__link[data-market="#{$market}"] {
                display: block;
            }
        }
    }

    &[data-filter-by-wide] {
        .book:not([data-wide]) {
            display: none;
        }
    }

    &[data-filter-by-direct] {
        .book:not([data-direct]) {
            display: none;
        }
    }

    &[data-filter-by-intl] {
        .book:not([data-intl]) {
            display: none;
        }
    }
}