---
tags: index
---

<!doctype html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/_styles/styles.css">
		<title>Eleventy Starter Template</title>
	</head>
	<body>
		<h1>This is Rose's 11ty starter template</h1>
	</body>
</html>